w2.json
{"name": "WF2 - Webhook Consultas API","nodes": [{"parameters": {"httpMethod": "GET","path": "buscar-precios","responseMode": "responseNode","options": {}},"id": "b1b2c3d4-0001-0001-0001-000000000001","name": "Webhook GET Buscar","type": "n8n-nodes-base.webhook","typeVersion": 2,"position": [240, 300],"webhookId": "buscar-precios-webhook"},{"parameters": {"jsCode": "// Parsear parametros de busqueda\nconst query = $input.first().json.query || {};\n\nconst q = query.q || '';                          // termino de busqueda\nconst categoria = query.categoria || '';          // filtro categoria\nconst provincia = query.provincia || '';          // filtro provincia\nconst limit = parseInt(query.limit) || 20;\nconst offset = parseInt(query.offset) || 0;\n\nif (!q || q.length < 2) {\n  return [{ json: { error: true, message: 'El parametro q es requerido (minimo 2 caracteres)' } }];\n}\n\n// Construir query params para Supabase\nlet supabaseUrl = `https://ygqfbbkjdiryilwjrpzh.supabase.co/rest/v1/latest_prices?`;\nsupabaseUrl += `canonical_name=ilike.*${encodeURIComponent(q)}*`;\nif (categoria) supabaseUrl += `&category=eq.${encodeURIComponent(categoria)}`;\nif (provincia) supabaseUrl += `&province=eq.${encodeURIComponent(provincia)}`;\nsupabaseUrl += `&order=price.asc`;\nsupabaseUrl += `&limit=${limit}&offset=${offset}`;\n\nreturn [{ json: { supabaseUrl, q, categoria, provincia, limit, offset, valid: true } }];"},"id": "b1b2c3d4-0002-0002-0002-000000000002","name": "Parsear Query Params","type": "n8n-nodes-base.code","typeVersion": 2,"position": [460, 300]},{"parameters": {"conditions": {"options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },"conditions": [{"id": "cond-valid","leftValue": "={{ $json.valid }}","rightValue": true,"operator": { "type": "boolean", "operation": "equals" }}],"combinator": "and"},"options": {}},"id": "b1b2c3d4-0003-0003-0003-000000000003","name": "Query Valida?","type": "n8n-nodes-base.if","typeVersion": 2,"position": [680, 300]},{"parameters": {"method": "GET","url": "={{ $json.supabaseUrl }}","sendHeaders": true,"headerParameters": {"parameters": [{"name": "apikey","value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlncWZiYmtqZGlyeWlsd2pycHpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDY1NDQ5NSwiZXhwIjoyMTAwMjMwNDk1fQ.6sfmLwuOJDfGzJjglHP8X_SQzdeUOd657CdEr_DVcTk"},{"name": "Authorization","value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlncWZiYmtqZGlyeWlsd2pycHpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDY1NDQ5NSwiZXhwIjoyMTAwMjMwNDk1fQ.6sfmLwuOJDfGzJjglHP8X_SQzdeUOd657CdEr_DVcTk"}]},"options": { "timeout": 10000 }},"id": "b1b2c3d4-0004-0004-0004-000000000004","name": "Query Supabase","type": "n8n-nodes-base.httpRequest","typeVersion": 4.2,"position": [900, 240]},{"parameters": {"jsCode": "const results = $input.first().json;\nconst prevParams = $('Parsear Query Params').first().json;\nconst arr = Array.isArray(results) ? results : [];\n\nreturn [{\n  json: {\n    success: true,\n    query: prevParams.q,\n    total: arr.length,\n    results: arr,\n    meta: {\n      categoria: prevParams.categoria || null,\n      provincia: prevParams.provincia || null,\n      limit: prevParams.limit,\n      offset: prevParams.offset\n    }\n  }\n}];"},"id": "b1b2c3d4-0005-0005-0005-000000000005","name": "Formatear Respuesta","type": "n8n-nodes-base.code","typeVersion": 2,"position": [1120, 240]},{"parameters": {"respondWith": "json","responseBody": "={{ JSON.stringify($json) }}","options": {"responseCode": 200,"responseHeaders": {"entries": [{ "name": "Content-Type", "value": "application/json" },{ "name": "Access-Control-Allow-Origin", "value": "" }]}}},"id": "b1b2c3d4-0006-0006-0006-000000000006","name": "Responder OK","type": "n8n-nodes-base.respondToWebhook","typeVersion": 1,"position": [1340, 240]},{"parameters": {"respondWith": "json","responseBody": "={{ JSON.stringify({ success: false, error: $('Parsear Query Params').first().json.message }) }}","options": {"responseCode": 400,"responseHeaders": {"entries": [{ "name": "Content-Type", "value": "application/json" },{ "name": "Access-Control-Allow-Origin", "value": "" }]}}},"id": "b1b2c3d4-0007-0007-0007-000000000007","name": "Responder Error","type": "n8n-nodes-base.respondToWebhook","typeVersion": 1,"position": [900, 400]},{"parameters": {"httpMethod": "GET","path": "comparar-producto","responseMode": "responseNode","options": {}},"id": "b1b2c3d4-0008-0008-0008-000000000008","name": "Webhook GET Comparar","type": "n8n-nodes-base.webhook","typeVersion": 2,"position": [240, 560],"webhookId": "comparar-producto-webhook"},{"parameters": {"jsCode": "const query = $input.first().json.query || {};\nconst productId = query.product_id || '';\n\nif (!productId) {\n  return [{ json: { error: true, message: 'product_id es requerido' } }];\n}\n\nconst supabaseUrl = `https://ygqfbbkjdiryilwjrpzh.supabase.co/rest/v1/latest_prices?product_id=eq.${productId}&order=price.asc`;\n\nreturn [{ json: { supabaseUrl, product_id: productId, valid: true } }];"},"id": "b1b2c3d4-0009-0009-0009-000000000009","name": "Parsear Comparar","type": "n8n-nodes-base.code","typeVersion": 2,"position": [460, 560]},{"parameters": {"method": "GET","url": "={{ $json.supabaseUrl }}","sendHeaders": true,"headerParameters": {"parameters": [{"name": "apikey","value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlncWZiYmtqZGlyeWlsd2pycHpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDY1NDQ5NSwiZXhwIjoyMTAwMjMwNDk1fQ.6sfmLwuOJDfGzJjglHP8X_SQzdeUOd657CdEr_DVcTk"},{"name": "Authorization","value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlncWZiYmtqZGlyeWlsd2pycHpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDY1NDQ5NSwiZXhwIjoyMTAwMjMwNDk1fQ.6sfmLwuOJDfGzJjglHP8X_SQzdeUOd657CdEr_DVcTk"}]},"options": { "timeout": 10000 }},"id": "b1b2c3d4-0010-0010-0010-000000000010","name": "Query Comparacion","type": "n8n-nodes-base.httpRequest","typeVersion": 4.2,"position": [680, 560]},{"parameters": {"jsCode": "const results = $input.first().json;\nconst arr = Array.isArray(results) ? results : [];\n\nif (arr.length === 0) {\n  return [{ json: { success: true, product_id: $('Parsear Comparar').first().json.product_id, comparisons: [], cheapest: null } }];\n}\n\nconst cheapest = arr[0];\nconst mostExpensive = arr[arr.length - 1];\nconst savings = mostExpensive.price - cheapest.price;\nconst savingsPct = ((savings / mostExpensive.price) * 100).toFixed(1);\n\nreturn [{\n  json: {\n    success: true,\n    product_name: arr[0].canonical_name,\n    total_stores: arr.length,\n    cheapest: {\n      store: cheapest.store_name,\n      price: cheapest.price,\n      city: cheapest.city,\n      url: cheapest.product_url\n    },\n    most_expensive: {\n      store: mostExpensive.store_name,\n      price: mostExpensive.price\n    },\n    potential_savings: savings,\n    savings_percentage: savingsPct,\n    comparisons: arr,\n    updated_at: arr[0].scraped_at\n  }\n}];"},"id": "b1b2c3d4-0011-0011-0011-000000000011","name": "Formatear Comparacion","type": "n8n-nodes-base.code","typeVersion": 2,"position": [900, 560]},{"parameters": {"respondWith": "json","responseBody": "={{ JSON.stringify($json) }}","options": {"responseCode": 200,"responseHeaders": {"entries": [{ "name": "Content-Type", "value": "application/json" },{ "name": "Access-Control-Allow-Origin", "value": "*" }]}}},"id": "b1b2c3d4-0012-0012-0012-000000000012","name": "Responder Comparacion","type": "n8n-nodes-base.respondToWebhook","typeVersion": 1,"position": [1120, 560]}],"connections": {"Webhook GET Buscar": {"main": [[{ "node": "Parsear Query Params", "type": "main", "index": 0 }]]},"Parsear Query Params": {"main": [[{ "node": "Query Valida?", "type": "main", "index": 0 }]]},"Query Valida?": {"main": [[{ "node": "Query Supabase", "type": "main", "index": 0 }],[{ "node": "Responder Error", "type": "main", "index": 0 }]]},"Query Supabase": {"main": [[{ "node": "Formatear Respuesta", "type": "main", "index": 0 }]]},"Formatear Respuesta": {"main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]},"Webhook GET Comparar": {"main": [[{ "node": "Parsear Comparar", "type": "main", "index": 0 }]]},"Parsear Comparar": {"main": [[{ "node": "Query Comparacion", "type": "main", "index": 0 }]]},"Query Comparacion": {"main": [[{ "node": "Formatear Comparacion", "type": "main", "index": 0 }]]},"Formatear Comparacion": {"main": [[{ "node": "Responder Comparacion", "type": "main", "index": 0 }]]}},"settings": {"executionOrder": "v1","saveManualExecutions": true},"tags": ["precios-ar", "api"],"triggerCount": 0}